{% extends 'skycast_app/base.html' %}

{% block content %}
    Location Name: {{ location }}<br>
    Location Coordinates: {{ location.latitude }}, {{ location.longitude }}<br>
    Search Date: {{ location.search_date }}<br>
    {% if location.user %} Searched By: {{ location.user }}<br>{% endif %}
    <h2> Weather Info:</h2>
    <div class="weather_display_current">
        <div class="weather_icon">
            <img alt="{{ weather.currently.icon }}" src="/static/images/forecast_images/{{ weather.currently.icon }}.png" width="210px" height="210px">
        </div>
        <div class="weather_text">
            <a href="/historical_data/{{ location.latitude }},{{ location.longitude }}">Historical Weather Data</a>
            Description: {{ weather.currently.summary }}<br>
            Temperature: {{ weather.currently.temperature }} &#730;F<br>
            Feels Like: {{ weather.currently.apparentTemperature}} &#730;F<br>
            Wind Speed: {{ weather.currently.windSpeed }} miles/hr<br>
            Wind Gust: {{ weather.currently.windGust }} miles/hr<br>
            Wind Bearing: {{ weather.currently.windBearing }}&#730; from North<br>
            Precipitation Probability: {{ weather.currently.precipProbability }}<br>
            {% if weather.currently.precipProbability  > 0 %}
                Precipitation Type: {{ weather.currently.precipType }}<br>
            {% else %}
                Precipitation Type: None<br>
            {% endif %}
        </div>
    </div>
    <p><br></p>
    <div class="weather_display_future_outer">
        <div clss="weather_display_future_inner">
            <table style="width:100%">
                <tr>
                    {% for dailyData in weather.daily.data %}
                        <td>
                            <div class="weather_daily">
                                <div class="weather_icon">
                                    <img alt="{{ dailyData.icon }}" src="/static/images/forecast_images/{{ dailyData.icon }}.png" width="100px" height="100px">
                                </div>
                                <div class="weather_text">
                                    {{ dailyData.time }}<br>
                                    High: {{ dailyData.apparentTemperatureHigh }} &#730;F<br>
                                    Low: {{ dailyData.apparentTemperatureLow }} &#730;F<br>
                                    P(precip.): {{ dailyData.precipProbability }}
                                </div>
                            </div>
                        </td>
                    {% endfor %}
                </tr>
            </table>
        </div>
    </div>
{% endblock %}
