.page-header {
    height: 130px;
    width: 100%;
    background-image: url('/static/images/header_background.jpg');
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    position: fixed;
    margin-top: 0px;
    left: 0px;
}

.header_contents {
    height: 130px;
    width: 100%;
    margin: auto;
}

.page-footer {
    height: 41px;
    width: 100%;
    background-image: url('/static/images/footer_background.jpg');
    background-attachment: scroll;
    background-position: 0% 0%;
    position: fixed;
    bottom: 0px;
    left: 0px;
}

.footer_contents {
    height: 41px;
    width: 100%;
    margin: auto;
}

.header_contents h1, .header_contents h1 a, .header_contents h1 a:visited, .header_contents h1 a:active {
    color: #f4b342;
    font-size: 46pt;
    text-decoration: none;
}

.footer_contents a, .footer_contents a:visited, .footer_contents a:active {
    color: #0035bc;
    font-size: 18pt;
    text-decoration: none;
}

.content_container {
    padding: 132px;
    padding-bottom: 42px;
    width: 100% ;
    margin-left: auto ;
    margin-right: auto ;
    text-align: center;
}

#loginButton {
    position: fixed;
    top: 40px;
    right: 10px;
}

#logoutButton {
    position: fixed;
    bottom: 3px;
    right: 10px;
}

#sky_cast_heading {
    text-align: center;
    color: #f4b342;
    font-size: 66pt;
}

.fieldWrapper {
    width: 40% ;
    margin-left: auto ;
    margin-right: auto ;
    text-align: left;
}

.weather_display_current {
    width: 370px;
    height: 30%;
    margin-left: auto ;
    margin-right: auto ;
    text-align: left;
    border: 1px solid black;
}

.weather_text {
    width: 70%;
    height: 48%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    font-size: 13pt;
}

.weather_icon {
    width: 100%;
    height: 52%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.weather_display_future_outer {
    height: 220px;
    width: 100%;
    position: float;
    bottom: 41px;
    left: 0px;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
}

.weather_display_future_inner {
    height: 100%;
    width: 2500px;
    white-space: nowrap;
}

.weather_daily {
    width: 180px ;
    height: 100%;
    margin-left: 2px ;
    margin-right: 2px ;
    text-align: left;
    border: 1px solid black;
}